<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header bg-info">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h2 class="modal-title">Customer: {{requestedCustomer.name}}</h2>
        </div><!--end modal header-->

        <div class="modal-body" >
            <div class="row">
                <div class="col-md-4">
                    <h2>XYZ<br /><small>Edit customer information</small></h2>
                </div>
            </div>

            <div class="col-md-4 ">
                <div class="panel panel-info">
                    <div class="panel-body">
                        <p>Customer ID: </p>
                        <input type="text" name="id" value="{{requestedCustomer.id}}" />
                        <p>Customer Name: </p>
                        <input type="text" name="name" value="{{requestedCustomer.name}}" />
                        <p>Company Name: </p>
                        <input type="text" name="companyName" value="{{requestedCustomer.companyName}}" />
                        <p>Street Address: </p>
                        <input type="text" name="streetAddress" value="{{requestedCustomer.streetAddress}}" />
                        <p>City: </p>
                        <input type="text" name="city" value="{{requestedCustomer.city}}" />
                        <p>Zip: </p>
                        <input type="text" name="zip" value="{{requestedCustomer.zipCode}}" />
                        <p>Phone/Fax: </p>
                        <input type="text" name="phoneNumber" value="{{requestedCustomer.phoneNumber}}" /><br>
                    </div>
                </div>
            </div>

            </div><!--end modal body-->
            <div class="modal-footer bg-info">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-submit="UpdateData()">Save</button>
            </div><!--end modal footer-->
        </div><!--end modal content-->
    </div><!--end modal dialog-->
