<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header bg-info">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h2 class="modal-title">NEW INVOICE</h2>
        </div><!--end modal header-->
        <div class="modal-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h3 class="panel-title"><strong>From:</strong></h3></div>
                        <div class="panel-body">
                            <p>2854 Granville Lane</p>
                            <p>Newark, 07104</p>
                            <p>973-482-1872</p>
                            <p> </p>
                            <p> </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="panel panel-info">
                        <div class="panel-heading"><h3 class="panel-title"><strong>Bill To:</strong></h3></div>
                        <div class="panel-body">
                            <p>Customer Name: {{requestedInvoice.billTo.name}}</p>
                            <p>Company Name: {{requestedInvoice.billTo.companyName}}</p>
                            <p>Street Address: {{requestedInvoice.billTo.streetAddress}}</p>
                            <p>City, Zip: {{requestedInvoice.billTo.city}}, {{requestedInvoice.billTo.zipCode}}</p>
                            <p>Phone/Fax: {{requestedInvoice.billTo.phoneNumber}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-success">
                        <div class="panel-heading"><h3 class="panel-title"><strong>Ship To:</strong></h3></div>
                        <div class="panel-body">
                            <p>Customer Name: {{requestedInvoice.shipTo.name}}</p>
                            <p>Company Name: {{requestedInvoice.shipTo.companyName}}</p>
                            <p>Street Address: {{requestedInvoice.shipTo.streetAddress}}</p>
                            <p>City, Zip: {{requestedInvoice.shipTo.city}}, {{requestedInvoice.shipTo.zipCode}}</p>
                            <p>Phone/Fax: {{requestedInvoice.shipTo.phoneNumber}}</p>
                        </div>
                    </div>
                </div>
            </div>
        <div class="row">
            <div class="col-md-4"><button type="button" class="btn btn-primary">Edit Company Details</button></div>
            <div class="col-md-4"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#customerListModal">Select Customer</button></div>
            <div class="col-md-4"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#customerListModal">Select Customer</button></div>
        </div>
        </div><!--end modal body-->
        <div class="modal-footer bg-info">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div><!--end modal footer-->
    </div><!--end modal content-->
</div><!--end modal dialog-->

<!-- New Invoice Modal -->
<div class="modal fade" id="customerListModal" role="dialog">
    <div ng-include="'views/modals/customerListModal.html'"></div>
</div><!--end modal-->
