<div class="jumbotron text-center">
    <h1>Welcome</h1>
    </div>
<div class="row">
    <div class="col-md-5 col-md-offset-4">
        <table id="q-graph">
            <caption>Yearly Income</caption>
            <thead>
                <tr>
                    <th></th>
                    <th class="sent" style="width:7vw;height:7vw; font-size:1.3vw">Yearly Total</th>
                </tr>
            </thead>
            <tbody>
                <tr  ng-repeat="income in incomes | orderBy : '+year'" class="qtr" id="q{{$index+1}}">
                    <th scope="row">{{income.year}}</th>
                    <td class="sent bar" style="height: {{income.total / 70}}%"><p>{{income.total | number:2}}</p></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


