<div>
    <div class="row">
        <div class="col-md-3 col-md-offset-9 vcenter"><button class="btn btn-primary btn-block" style="height: 85px;">New Invoice</button></div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="col-md-1"><h4>ID</h4></th>
                <th class="col-md-2"><h4>DATE</h4></th>
                <th class="col-md-2"><h4>CUSTOMER NAME</h4></th>
                <th class="col-md-2"><h4>STATUS</h4></th>
                <th class="col-md-2"><h4>ACTIONS</h4></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="invoice in invoices" data-toggle="collapse" data-target="#invoiceItems" class="accordion-toggle">
                <td class="col-md-1">{{invoice.id}}</td>
                <td class="col-md-2">{{invoice.date | date: 'mediumDate'}}</td>
                <td class="col-md-2">{{invoice.customerName}}</td>
                <td class="col-md-2">{{invoice.status}}</td>
                <td class="col-md-2">
                    <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#invoiceModal" ng-click="invoiceTransfer(invoice)"><i class="fa fa-eye"></i></button>
                    <button class="btn btn-default btn-sm col-md-offset-1" data-toggle="modal" data-target="#invoiceModal" ng-click="invoiceTransfer(invoice)"><i class="fa fa-cog"></i></button>
                    <button class="btn btn-default btn-sm col-md-offset-1" data-toggle="modal" data-target="#invoiceModal" ng-click="invoiceTransfer(invoice)"><i class="fa fa-times"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="invoiceModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">INVOICE #{{requestedInvoice.id}} {{requestedInvoice.status}}</h2>
            </div><!--end modal header-->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <p>Company Name: {{requestedInvoice.billTo.companyName}}</p>
                        <p>Street Address: {{requestedInvoice.billTo.street}}</p>
                        <p>Zip Code: {{requestedInvoice.billTo.zip}}</p>
                        <p>Phone/Fax: {{requestedInvoice.billTo.phone}}</p>
                    </div>
                    <div class="col-md-4 col-md-offset-4">
                        <p>Date: {{requestedInvoice.date | date: 'mediumDate'}}</p>
                        <p>Customer ID: {{requestedInvoice.customer}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-1">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h3 class="panel-title">Bill To:</h3></div>
                            <div class="panel-body">
                                <p>Customer Name: {{requestedInvoice.billTo.name}}</p>
                                <p>Company Name: {{requestedInvoice.billTo.companyName}}</p>
                                <p>Street Address: {{requestedInvoice.billTo.street}}</p>
                                <p>Zip Code: {{requestedInvoice.billTo.zip}}</p>
                                <p>Phone/Fax: {{requestedInvoice.billTo.phone}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-md-offset-2">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h3 class="panel-title">Ship To:</h3></div>
                            <div class="panel-body">
                                <p>Customer Name: {{requestedInvoice.shipTo.name}}</p>
                                <p>Company Name: {{requestedInvoice.shipTo.companyName}}</p>
                                <p>Street Address: {{requestedInvoice.shipTo.street}}</p>
                                <p>Zip Code: {{requestedInvoice.shipTo.zip}}</p>
                                <p>Phone/Fax: {{requestedInvoice.shipTo.phone}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="col-md-1"><h4>ID</h4></th>
                            <th class="col-md-2"><h4>Description</h4></th>
                            <th class="col-md-2"><h4>Unit Price</h4></th>
                            <th class="col-md-2"><h4>Quantity</h4></th>
                            <th class="col-md-2"><h4>Total</h4></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in requestedInvoice.items">
                            <td class="col-md-1">{{item.id}}</td>
                            <td class="col-md-2">{{item.description}}</td>
                            <td class="col-md-2">{{item.quantity}}</td>
                            <td class="col-md-2">{{item.unitPrice}}</td>
                            <td class="col-md-2">{{item.quantity * item.unitPrice}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-3 col-md-offset-8">
                        <p>Subtotal: {{requestedInvoice.shipTo.name}}</p>
                        <p>Tax Rate: {{requestedInvoice.shipTo.companyName}}</p>
                        <p>Tax: {{requestedInvoice.shipTo.street}}</p>
                        <p>Other: {{requestedInvoice.shipTo.zip}}</p>
                        <p><strong>TOTAL:</strong>{{requestedInvoice.shipTo.phone}}</p>
                    </div>
                </div>
            </div><!--end modal body-->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div><!--end modal footer-->
        </div><!--end modal content-->
    </div><!--end modal dialog-->
</div><!--end modal-->
