<div>
    <h2>Invoices Management</h2>
    <a href="#/newinvoice" class="btn btn-primary pull-right"><strong>New Invoice</strong></a>
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="col-md-1"><h4>ID</h4></th>
                <th class="col-md-2"><h4>DATE</h4></th>
                <th class="col-md-2"><h4>CUSTOMER NAME</h4></th>
                <th class="col-md-2"><h4>STATUS</h4></th>
                <th class="col-md-2"><h4>ACTIONS</h4></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="invoice in invoices">
                <td class="col-md-1">{{invoice.id}}</td>
                <td class="col-md-2">{{invoice.date | date: 'mediumDate'}}</td>
                <td class="col-md-2">{{invoice.customerName}}</td>
                <td class="col-md-2">{{invoice.status}}</td>
                <td class="col-md-2">
                    <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#invoiceModal" ng-click="invoiceTransfer(invoice)"><i class="fa fa-eye"></i></button>
                    <!--<button class="btn btn-default btn-sm col-md-offset-1" data-toggle="modal" data-target="#invoiceModal" ng-click="invoiceTransfer(invoice)"><i class="fa fa-cog"></i></button>-->
                    <button class="btn btn-default btn-sm col-md-offset-1" ng-click="invoiceTransfer(invoice)"><i class="fa fa-times"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Invoice Modal -->
<div class="modal fade" id="invoiceModal" role="dialog">
    <div ng-include="'views/modals/invoiceModal.html'"></div>
</div><!--end modal-->



