
<div class="container-fluid">
    <div class="panel panel-info">
        <ng-form class="panel-body" #id="newCompany">
            <p>Company Name: </p>
            <input type="text" name="name" class="form-control" id="inputDefault" ng-model="editCompany.name" />

            <p>Street address: </p>
            <input type="text" name="name" class="form-control" id="inputDefault" ng-model="editCompany.streetAddress" />
            <p>Zip code: </p>
            <input type="text" name="name" class="form-control" id="inputDefault" ng-model="editCompany.zipCode" />
            <p>City: </p>
            <input type="text" name="name" class="form-control" id="inputDefault" ng-model="editCompany.city" />
            <p>Phone number: </p>
            <input type="text" name="name" class="form-control" id="inputDefault" ng-model="editCompany.phoneNumber" />

        </ng-form>
    </div>
    <div class="newCompanyButtons">
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="createNewCustomer()" ng-pattern="string">Save</button>
        <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
    </div>
</div>