
        <div class="bg-info">
            <h2 class="modal-title">NEW INVOICE</h2>
        </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h3 class="panel-title"><strong>From:</strong></h3></div>
                        <div class="panel-body">
                            <p>2854 Granville Lane</p>
                            <p>Newark, 07104</p>
                            <p>973-482-1872</p>
                            <p> </p>
                            <p> </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="panel panel-info">
                        <div class="panel-heading"><h3 class="panel-title"><strong>Bill To:</strong></h3></div>
                        <div class="panel-body">
                            <p>Customer Name:</p>
                            <p>Company Name:</p>
                            <p>Street Address:</p>
                            <p>City, Zip:</p>
                            <p>Phone/Fax:</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-success">
                        <div class="panel-heading"><h3 class="panel-title"><strong>Ship To:</strong></h3></div>
                        <div class="panel-body">
                            <p>Customer Name:</p>
                            <p>Company Name: </p>
                            <p>Street Address: </p>
                            <p>City, Zip:</p>
                            <p>Phone/Fax:</p>
                        </div>
                    </div>
                </div>
            </div>
        <div class="row">
            <div class="col-md-4"><button type="button" class="btn btn-primary">Edit Company Details</button></div>
            <div class="col-md-4"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#customerListModal">Select Customer</button></div>
            <div class="col-md-4"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#customerListModal">Select Customer</button></div>
        </div>

<!-- New Invoice Modal -->
<div class="modal fade" id="customerListModal" role="dialog">
    <div ng-include="'views/modals/customerListModal.html'"></div>
</div><!--end modal-->
