body {
}



.btn-new-invoice {
    height: 85px;
    font-size: 18px;
}

.vhcenter {
    display: flex;
    align-items: center; /* align vertical */
}


.box {
    margin-left: auto;
    margin-right: auto;
    background: #5FCF80;
    width: 6vw;
    height: 4vw;
}

.box:hover {
    -webkit-transform: rotate(360deg);
    background: #9351A6;
    border-radius: 50%;
    }

.rotate {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.rotate:hover {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    }
